body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #55023c;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-list {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.product {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product h2 {
    font-size: 1.5em;
}

.product p {
    font-size: 1.2em;
}

button{
    background: #0d0e0d;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
#checkout{
    background: #0d0e0d;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;
    margin-left: 510px;
    margin-bottom: 20px;
}

.add-to-cart:hover {
    background: #2a2b2a;
}
.cart-item{
    text-align: center;
}
.cart-total {
    font-weight: bold;
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
    background: #55023c;
    color: #fff;
}

